
<head>
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="main">
        <div class="left">
            <h1>Login</h1>
            <p><i>To your Account</i></p>
            <p class="or"><i>or</i></p>
            <form action="/login" method="POST">
                <input type="text" placeholder="Username" name= "username">
                <input type="password" placeholder="Password" name="password">
                <input type="submit" value="LOG IN">
            </form>
            <p class="forgot">Forgot Password?</p>

        </div>
        <div class="right">
            <h1>Sign In</h1>
            <p><i>with one of your social</i></p>
            <p><i>profiles</i></p>
            <div class="social">
                <button class="twitter"><i class="fa fa-twitter"></i></button>
                <button class="facebook"><i class="fa fa-facebook"></i></button>
                <button class="google"><i class="fa fa-google-plus"></i></button>
                <p class="dont"><i>Don't have an account?</i></p>
                <p><u>Register</u></p>
            </div>
        </div>
    </div>